<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
<meta charset="UTF-8">

  <title>GrapeVine</title>

<!--  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css'>
-->
    <link rel='stylesheet prefetch' href='/static/css/bootstrap.min.css'>
    <link rel="stylesheet" href="static/css/style.css" media="screen" type="text/css" />
    {% endblock %}
</head>
<body>
    <div id="content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="page-header">
                        <h3>GrapeVine</h3>
                            <h4>What if you could benefit from speaking multiple languages?</h4>
                            </div>
            {% block form %}{% endblock %}
            {% block carouselcontent %}{% endblock %}</div>
                </div><!-- /.span12 -->          
            </div><!-- /.row --> 
        </div><!-- /.container -->
    </div><!-- /.content -->
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2015 by TwelvePandas.
        {% endblock %}
    </div>
    {% block footerscripts %}
    {% endblock %}
</body>