{% extends "childtemplate.html" %}
{% block carouseltemplate %}

								{% for j in range(listlength) %}

								{% if (j is divisibleby num_countries) and (j > 0) %}
		                    		</ul>
								</div> <!-- new page after active slide-->
								<div class="item active"> <!-- new page after active slide-->
                            		<ul class="thumbnails">
								{% endif %}

                                <li class="span3">
                                	{% if (j < 4) %}
                                    <h4>{{countryname[j]}}</h4>
                                    {% endif %}
                                        <div class="caption">
                                        <h4>{{title[j]}}</h4>
                                        {{content[j]}}
                                        <a class="btn btn-mini" href="{{url[j]}}">&raquo; Read More </a>
                                    </div>
                                </li>

                                {% endfor %}

{% endblock %}