{% extends "basetemplate.html" %}
{% block title %}Grapevine{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block carouselcontent %}

            <div class="carousel slide" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active"> <!--active = first page-->
                            <ul class="thumbnails">
                                {% block carouseltemplate %}
                                {% endblock %}
                                
                            </ul>
                      </div><!-- /Slide3 --> 
                </div> 

    </div><!-- /#myCarousel -->


    
{% endblock %}
{% block footerscripts %}

<!--  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js'></script>
-->

<script src='/static/js/jquery.js'></script>
<script src='/static/js/bootstrap.min.js'></script>


  <script src="/static/js/index.js"></script>
{% endblock %}